/* basic elements */
html {
	margin: 0;
	padding: 0;
	}
* {font-family:'century gothic', sans-serif;}
pre {font-size:12px;}
img {
	float:left; 
	padding-right:5px;
}
b {font-size:13px;}
body { 
	line-height: 1;
	font-size:12px;
	background: #eeeee5 no-repeat bottom right; 
	margin: 0; 
	padding: 0px;
	}
p { 
	margin-top: 0; 
	text-align: justify;
	}
h3 { 
	font: italic normal 1.4em georgia, sans-serif;
	letter-spacing: 1px; 
	margin-bottom: 0; 
	color: #77D5CD;
}
	
	
h1 {
	font: Bold normal century gothic
	letter-spacing: 2px;
	margin-left: 40px;
	margin-top: 15px;
   }


a:link { 
	font-weight: bold; 
	text-decoration: none; 
	color: #B7A5DF;
	}
a:visited { 
	font-weight: bold; 
	text-decoration: none; 
	color: #D4CDDC;
	}
a:hover, a:active { 
	text-decoration: underline; 
	color: #9685BA;
	}
acronym {
	border-bottom: none;
	}


/* specific divs */

#title {
	width: 500px;
	margin: 5px:	
	height: 100px;
	color: #555753; 
	
}

#container { 
	/* background: url(zen-bg.jpg) no-repeat top left; */
	padding: 0 75px 0 40px;  
	margin: 0; 
	position: relative;
	
	}
	
#tweet {
	width: 572px;
	margin-left:5px;
	margin-top:7px;
	margin-bottom:7px;
	border:3px;
	padding:3px;
	background: #ddddee;
	-webkit-box-shadow: 3px 3px 4px #000;
	-moz-box-shadow: 3px 3px 4px #000;
}

#replytext {
	width: 532px;
	margin:3px;
	border:3px;
	padding:3px;
	background: #aaaaee;
/*	-webkit-box-shadow: 3px 3px 4px #000;*/
/*	-moz-box-shadow: 3px 3px 4px #000;*/
}

#tweet_text {

}

